@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  color: #0392c5;
  text-decoration: underline;
  text-underline-offset: 3px;
  
}
body{
  font-family:Arial, Helvetica, sans-serif;
}

.logo{
  font-family:cursive;

}
.banner{
  background-image: url('./assets/pngtree-blue-background-design-with-business-technology-banner-theme-image_982127.jpg');
  background-position: center;
  background-size: cover;
}
